<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<body>
    <h1>ERROR 404, essa rota está desativada no momento porém: PINGUIN.ZIP deixou você jogar: GTA 1</h1>
    <br>
    <iframe
    width="680"
    height="400"
    frameborder="0"
    src="https://dos.zone/player/?bundleUrl=https%3A%2F%2Fcdn.dos.zone%2Fcustom%2Fdos%2Fgta-mobile.jsdos?anonymous=1"
    allowfullscreen>
</iframe>
</body>
</html>