<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/host.css">
    <title>Hospedagem</title>
</head>
<body>
    <h1>Hospedagem de: Sistemas da Informação (UNIFEB)</h1>

    <div id="centerFrame">
    <iframe id="frameHost" src="http://144.22.220.154/" title="TESTE" height="max" width="50%"></iframe>
    </div>
</body>
</html>